<mat-form-field appearance="fill" [class]="classes">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    type="text"
    [matAutocomplete]="optionsContainer"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [maxLength]="maxLength"
    [placeholder]="placeholder"
    [attr.disabled]="disabled"
  />
  <mat-error>
    <formly-validation-message [field]="field"></formly-validation-message>
  </mat-error>
  <mat-autocomplete #optionsContainer="matAutocomplete">
    <mat-option
      *ngFor="let filteredOption of filteredOptions$ | async"
      [value]="filteredOption"
    >
      {{ filteredOption }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
