<mat-form-field appearance="fill" [class]="classes">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [type]="hideInputValue ? 'password' : 'text'"
    [formControl]="formControl"
    [formlyAttributes]="field"
    [maxLength]="maxLength"
    [placeholder]="placeholder"
    [attr.disabled]="disabled"
  />
  <button
    mat-icon-button
    matSuffix
    matTooltip="{{ tooltipText }}"
    (click)="handleClick()"
    [attr.aria-label]="'Hide password'"
    [attr.aria-pressed]="hideInputValue"
  >
    <mat-icon>{{ hideInputValue ? "visibility_off" : "visibility" }}</mat-icon>
  </button>
  <mat-error>
    <formly-validation-message [field]="field"></formly-validation-message>
  </mat-error>
</mat-form-field>
